ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}


.team-page-section {
	position: relative;
	padding-top: 70px;
}

.team-page-section .team-block {
	margin-bottom: 60px;
}

.sec-title {
	position: relative;
	z-index: 1;
	margin-bottom: 65px;
}

.team_logo {
	width: 20%;
}

.sec-title .title {
	position: relative;
	font-size: 18px;
	color: #d61212;
	font-weight: 700;
	margin-bottom: 12px;
	text-transform: capitalize;
}


.sec-title h2 {
	position: relative;
	color: #999;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 14px;
	margin-top: 25px;
}


.sec-title h3 {
	position: relative;
	color: #999;
	font-weight: normal;
	font-size: 16px;
	margin-top: 25px;
}

.sec-title .text {
	position: relative;
	font-size: 14px;
	line-height: 1.9em;
	color: #555555;
	margin-top: 10px;
}

.sec-title.centered .separator {
	margin: 0 auto !important;
	float: none !important;
}

.sec-title.centered {
	text-align: center !important;
}

.sec-title.light .title {
	color: #ffffff;
}

.sec-title.light h2 {
	color: #ffffff;
}

.sec-title.light .separator span {
	background-color: #0b0927;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after {
	background-color: #ffffff;
}

.team-section {
	position: relative;
	padding: 80px 0px 60px;
}

.team-section.style-two .pattern-layer {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-position: center center;
	background-repeat: no-repeat;
}

.team-section .title-box {
	position: relative;
	text-align: center;
}

.team-section .title-box h2 {
	position: relative;
	color: #222222;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3em;
	margin-bottom: 50px;
}

.team-section .title-box h2 span {
	color: #2b5341;
}

.team-block {
	position: relative;
}

.team-block .inner-box {
	position: relative;
	padding: 40px 70px 28px 0px;
}

.team-block .inner-box:before {
	position: absolute;
	content: '';
	right: 0px;
	top: 0px;
	left: 70px;
	bottom: 0px;
	border-radius: 10px;
	background-color: #f5f5f5;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}

.team-block .inner-box::after {
	position: absolute;
	content: '';
	top: 0px;
	left: 70px;
	bottom: 0px;
	width: 0%;
	border-radius: 10px;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
	background-image: linear-gradient(to right top, #A41034, #A41034, #A41034, #A41034, #A41034);
}

.team-block .inner-box:hover::after {
	width: 81%;

}

.team-block .inner-box .social-icons {
	position: absolute;
	right: 25px;
	top: 100px;
	z-index: 1;
}

.team-block .inner-box .social-icons li {
	position: relative;
	margin-bottom: 20px;
}

.team-block .inner-box .social-icons li a {
	position: relative;
	color: #0072b1;
	font-size: 18px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.team-block .inner-box:hover .lower-content h3,
.team-block .inner-box:hover .lower-content h3 a,
.team-block .inner-box:hover .social-icons li a,
.team-block .inner-box:hover .lower-content .designation {
	color: #ffffff;
}


.team-block .inner-box .image {
	position: relative;
	z-index: 1;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: inset 0px 0px 35px rgba(0, 0, 0, 0.20);
}

.team-block .inner-box .image img {
	position: relative;
	width: 100%;
	display: block;
}

.team-block .inner-box .lower-content {
	position: relative;
	text-align: left;
	z-index: 1;
	padding: 30px 15px 0px 110px;
}

.team-block .inner-box .lower-content h3 {
	position: relative;
	color: black;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.3em;-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}



.team-block .inner-box .lower-content h3 a{
	position: relative;
	color: rgb(12, 12, 11);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.team-block .inner-box .lower-content .designation {
	position: relative;
	margin-top: 5px;
	color: #777777;
	font-size: 14px;
}

.team-block.style-two .inner-box .lower-content h3 a,
.team-block.style-two .inner-box .social-icons li a {
	color: #ff9600;
}

.team-block.style-two .inner-box:hover .lower-content h3 a,
.team-block.style-two .inner-box:hover .social-icons li a {
	color: #ffffff;
}

.team-block.style-two .inner-box::after {
	 background-image: linear-gradient(to right top, #413630, #e4753a, #eb8e58, #f2a677, #f7bd97);
}
